@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 font-sans antialiased selection:bg-brand-500 selection:text-white;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-full hover:bg-slate-700 transition-colors;
  }
}

.glass-panel {
  @apply bg-slate-900/60 backdrop-blur-md border border-slate-800/80;
}

.glass-card {
  @apply bg-slate-900/40 hover:bg-slate-900/80 backdrop-blur-sm border border-slate-800/50 hover:border-slate-700/80 transition-all duration-300;
}
